<div class="sub_container">
    <div class="logo-col"><img src="/default/images/logo.png" alt=""> </div>
    <h2>Welcome to {{title}}</h2>
    <div class="sub_cnt_col">
       顶顶顶顶have any queries please feel free to contact us at <a href="mailto:info@cubettech.com" target="_blank">info@cubettech.com</a></p>

<h3>Plugin Support</h3>
<p style="text-align:center"><strong>This version of sleek.js support plug & play modules. To see it in action, go to modules directory & uncomment routings inside override.js & routes.js</strong></p>
    </div>
    <div class="footer">
        <p>Sleek.js © All Rights Reserved 2014</p>
        <p>Powered by <a href="http://cubettech.com" target="_blank">Cubet Techno Labs, Cochin</a></p>
    </div>
</div>
